mongoDatabase:


redis:


log:
  request_log_format: ${remote_ip} ${account_name} ${uri} ${method} ${status}

staticcontents:
  path: ./public/

security:
  auth_path:
    - /api/.*
  exclude_path:
    - /swagger/.*
    - /api/auth/login$
    - /api/auth/logout$
    - /api/health$
  user_path:
    - /api/.*
  admin_path:
    - /api/.*

api:
  reverse-geocoding: 
    apiKey: "pk.d2a4dc12bab8b79dc30109f8d3e58d11"